.container {
  padding: 0% 3%;
}

.h-90 {
  height: 90vh;
}
.d-flex { 
  display: flex;
}
.d-space-between {
  justify-content: space-between;
}
.d-row {
  flex-direction: row;
}
.d-column {
  flex-direction: column;
}
.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 20px;
}


input {
  padding: 2px 5px;
}

body {
  margin: 0;
  background: #d3d3d3;
    font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
